.AppBar {
  width: 100vw;
  background-color: #88c47c !important;
  display: flex !important;
  position: sticky !important;
}
.AppBarButton {
  width: 175px;
  color: white !important;
  display: inline-flex !important;
  height: 60px !important;
  font-size: 18px !important;
  font-family: "Century Gothic" !important;
  font-weight: bold !important;
}

.AppBarButton:hover {
  background-color: #4b7c41 !important;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
}
.PageHeader {
  /* width: 100vw; */
  margin-top: 15px;
}

:root {
  color: black;
  background-size: cover;
  overflow-x: hidden !important;
  background-color: #c7f9cc;
}
.PageText {
  /* padding: 20px; */
  text-align: center;
  font-size: 22px;
  height: 100vh;
}
.PageText h1 {
  font-size: 40px;
  margin-bottom: -10px;
}
.PageText h2 {
  font-size: 20px;
}
