.AppBar {
  width: 100vw;
  background-color: #88c47c !important;
  display: flex !important;
  position: sticky !important;
}
.AppBarButton {
  width: 200px;
  color: white !important;
  display: inline-flex !important;
  height: 60px !important;
  font-size: 18px !important;
  font-family: "Century Gothic" !important;
  font-weight: bold !important;
}
.StartButton {
  width: 200px;
  display: inline-flex !important;
  height: 80px;
  font-size: 40px !important;
  font-weight: bold !important;
  background-color: #56c3e6 !important;
  margin-top: 20px !important;
  border: 1px solid black !important;
  border-radius: 40px !important;
}

.AppBarButton:hover {
  background-color: #4b7c41 !important;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
}
.PageHeader {
  background-size: calc(5606px / 5) calc(3836px / 5);
  height: 100%;
  width: 100vw;
  overflow: auto;
  margin-top: -15px;
}

:root {
  color: black;
  background-size: cover;
  overflow-x: hidden !important;
  background-color: #c7f9cc;
}
.PageText {
  /* padding: 20px; */
  text-align: center;
  font-size: 22px;
  height: 100vh;
}
.PageText h1 {
  font-size: 40px;
}
.PageText h2 {
  font-size: 20px;
}
.bottomNavBar {
  background-color: #4b7c41;
  border-top: 2px solid black;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
}
.footerGroup {
  display: inline-table;
  width: 15%;
  margin: 5px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
